<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Iqsoft API Regression Testing" preserve-order="true">
    <listeners>
        <listener class-name="com.utilities.ReportingAllure"/>
    </listeners>

    <test name="API Regression Testing" preserve-order="true">

        <classes>

            <class name="com.testCases.Iqsoft_TestClass_01_Header"/>
            <class name="com.testCases.Iqsoft_TestClass_02_Lobby"/>
            <class name="com.testCases.SocketConnection.Iqsoft_TestClass_11_SocketConnection"/>

        </classes>
    </test>

</suite>